@model CustomerDetails

@{
    ViewData["Title"] = "CreateCustomer";
}
<h1>@ViewData["Title"]</h1>
@{
    Layout = Layout;
}

<!DOCTYPE html>
<html>
<head>
    <title>New Customer</title>
</head>
<body>
@using (Html.BeginForm())
{
    <div style="height: 80vh">
        <div style="display:flex; height: 10%">
            <div style="width: 60%; position: relative; border: #0b2e13">
                <p>Create new customer</p>
            </div>
        </div>
        <div style="display:flex; height: 90%">
            <div style="left: 0; width: 70%; position: relative">
                <div style="height: 90%">
                    <div style="height: 100%; width: 100%; overflow: scroll">
                        <div style="display: flex">
                            <p>Email: </p>
                            @Html.TextBoxFor(model => model.Email, new { Value = Model.Email })
                            <p><b>@Model.ErrorMessage</b></p>
                        </div>
                        <div style="display: flex">
                            <p>Name: </p>
                            @Html.TextBoxFor(model => model.Name, new { Value = Model.Name })
                        </div>
                        <div style="display: flex">
                            <p>Cat name: </p>
                            @Html.TextBoxFor(model => model.CatName, new { Value = Model.CatName })
                        </div>
                        <div style="display: flex">
                            <p>Phone number: </p>
                            @Html.TextBoxFor(model => model.Phone, new { Value = Model.Phone })
                        </div>
                        <div style="display: flex">
                            <p>Country: </p>
                            @Html.TextBoxFor(model => model.Country, new { Value = Model.Country })
                        </div>
                        <div style="display: flex">
                            <p>Language: </p>
                            @Html.TextBoxFor(model => model.Language, new { Value = Model.Language })
                        </div>
                        <div style="display: flex">
                            <p> Insta post id: </p>
                            @Html.TextBoxFor(model => model.InstaPostId, new { Value = Model.InstaPostId })
                        </div>
                        <div style="display: flex">
                            <p>Insta ad id: </p>
                            @Html.TextBoxFor(model => model.InstaAdId, new { Value = Model.InstaAdId })
                        </div>
                        <div style="display: flex">
                            <p>Fb post id: </p>
                            @Html.TextBoxFor(model => model.FbPostId, new { Value = Model.FbPostId })
                        </div>
                        <div style="display: flex">
                            <p>Fb ad id: </p>
                            @Html.TextBoxFor(model => model.FbAdId, new { Value = Model.FbAdId})
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 30%; position: relative">
                <div style="height: 50%;">
                    <button type="submit">Create new Customer</button>
                </div>
            </div>

        </div>
    </div>
}
</body>
</html>